* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono", monospace;
}

/*SASS EN INDEX*/
/*HEADER*/
.titulo {
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0px;
}

.titulo1 {
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-size: 60px;
  padding: 60px;
}

.logo {
  justify-content: right;
  padding: 5px;
  border: 20px;
  width: 120px;
}

/*BARRA DE NAVEGACION*/
.navbar {
  background-color: rgb(66, 66, 66);
}
.navbar .nav-item {
  font-size: 33px;
}

/*CUERPO DEL INDEX*/
.main-index .fotoprincipal {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.significado {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.fotosindex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.fotosindex .foto1, .fotosindex .foto3, .fotosindex .foto2 {
  width: 450px;
  height: 450px;
}
/*FOOTEER*/
/*MAP Y MAP GET*/
footer {
  background-image: linear-gradient(rgb(66, 66, 66), rgb(122, 119, 119));
  background-color: rgb(66, 66, 66);
}
footer .redesfooter {
  display: flex;
  justify-content: center;
  align-content: center;
  size-adjust: 570px;
}
footer .textofooter {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 25px;
}
footer .wpp-footer {
  width: 60px;
  height: 60px;
  padding-right: 25px;
  padding-top: 15px;
}
footer .face-footer {
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
}
footer .insta-footer {
  width: 60px;
  height: 60px;
  padding-left: 25px;
  padding-top: 15px;
}

/*CUERPO NOSOTROS*/
.abcd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}
.abcd .card-nosotros {
  max-width: 95%;
}
.abcd .card-text {
  font-size: 20px;
}

.efgh {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}
.efgh .card-nosotros {
  max-width: 95%;
}
.efgh .card-text {
  font-size: 20px;
}

.titulo-nosotross {
  display: flex;
  justify-content: center;
  padding: 15px;
}

/*CUERPO PRODUCTOS*/
.carousel-inner img {
  height: 750px;
}

.img-thumbnail-dama-invierno {
  max-width: 480px;
  max-height: 500px;
  padding-bottom: 15px;
}

.img-thumbnail-caballero-invierno {
  max-width: 480px;
  max-height: 500px;
  padding-bottom: 15px;
}

.img-thumbnail-dama-verano {
  max-width: 480px;
  max-height: 500px;
  padding-bottom: 15px;
}

.img-thumbnail-caballero-verano {
  max-width: 480px;
  max-height: 500px;
  padding-bottom: 15px;
}

.pantuflas-invierno {
  grid-area: titulo;
  padding: 25px;
  justify-self: center;
  font-size: 40px;
}

.invierno-dama-titulo {
  grid-area: subi;
  padding: 25px;
}

#carouselExampleIndicators {
  display: grid;
  grid-area: carrusel;
}

.invierno-dama-foto {
  grid-area: no;
  width: 400px;
  height: 400px;
  padding: 25px;
}

.invierno-caballero-titulo {
  grid-area: hola;
  padding: 25px;
}

.invierno-caballero-foto {
  grid-area: boca;
  width: 400px;
  height: 400px;
  padding: 25px;
}

.pantufla-verano {
  grid-area: mama;
  padding: 25px;
  justify-self: center;
  font-size: 40px;
}

#carouselExampleControls {
  display: grid;
  grid-area: carruselll;
}

.verano-dama-titulo {
  grid-area: cine;
  padding: 25px;
}

.verano-dama-foto {
  grid-area: final;
  width: 400px;
  height: 400px;
  padding: 25px;
}

.verano-caballero-titulo {
  grid-area: delfi;
  padding: 25px;
}

.verano-caballero-foto {
  grid-area: terminar;
  width: 400px;
  height: 400px;
  padding: 25px;
}

/*CUERPO TALLES*/
/*MIXINS*/
.talles-titulo {
  font-size: 30px;
  padding: 15px;
  padding-bottom: 0px;
}

.talles-texto {
  border: solid 5px black;
  line-height: 55px;
  padding: 15px;
}

.talles-dama-titulo {
  font-size: 30px;
  padding: 20px;
}

.talles-dama-imagen {
  padding: 30px;
}

.talles-caballero-titulo {
  font-size: 30px;
  padding: 20px;
}

.talles-caballero-imagen {
  padding: 30px;
}

/*CUERPO CONTACTO*/
.contactanos-titulo {
  display: flex;
  justify-content: center;
  font-size: 60px;
  padding: 20px;
  animation-delay: 0, 5s;
}

.ubicacion {
  width: max-content;
  height: max-content;
}

.dire {
  font-size: 30px;
}

.ciu {
  font-size: 30px;
}

.country {
  font-size: 30px;
}

.hora {
  font-size: 30px;
}

.wpi {
  color: black;
  font-size: 30px;
}

.wpp-contacto {
  width: 40px;
  height: 40px;
  font-style: none;
  font-size: 30px;
}

.consulta-titulo {
  font-size: 60px;
  padding: 20px;
  font-weight: bold;
}

.formulario-contacto {
  border: solid 2px black;
}

/*BOOTSTRAP*/
.formulario-contacto {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  font-size: 20px;
}

/*RESPONSIVE*/
/*BARRA DE NAVEGACION*/
@media screen and (max-width: 990px) {
  .nav-link {
    font-size: 20px;
  }
}
/*INDEX*/
/*MENOS DE 880*/
@media screen and (min-width: 700px) and (max-width: 880px) {
  .responsive-index-body {
    display: grid;
    grid-template-areas: "responsive1" "responsive2" "responsive4" "responsive5" "responsive6" "responsive7" "responsive8" "responsive9" "responsive10";
  }

  .fotoprincipal {
    grid-area: responsive2;
  }

  .fotoprincipal1 {
    width: 700px;
    height: 500px;
    padding: 20px;
  }

  .significado {
    grid-area: responsive4;
  }

  .descripcion {
    grid-area: responsive5;
  }

  .fotosindex {
    display: grid;
    grid-area: responsive6;
    align-self: center;
  }

  .foto1, .fotosindex .foto2, .fotosindex .foto3 {
    width: 700px;
    height: 500px;
    padding: 20px;
  }

  .foto2 {
    width: 700px;
    height: 500px;
    padding: 20px;
  }

  .foto3 {
    width: 700px;
    height: 500px;
    padding: 20px;
  }

  .header-responsive {
    grid-area: responsive1;
  }

  .responsive-footer {
    grid-area: responsive10;
  }
}
/*RESPONSIVE MENOS DE 700PX*/
@media screen and (min-width: 520px) and (max-width: 700px) {
  .barramenu {
    display: none;
  }

  .responsive-index-bodyt {
    display: grid;
    grid-template-areas: "responsive1" "responsive2" "responsive4" "responsive5" "responsive6" "responsive7" "responsive8" "responsive9" "responsive10";
  }

  .titulo1 {
    font-size: 40px;
  }

  .fotoprincipal {
    grid-area: responsive2;
  }

  .fotoprincipal1 {
    width: 500px;
    height: 300px;
    padding: 20px;
  }

  .significado {
    grid-area: responsive4;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .descripcion {
    grid-area: responsive5;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .fotosindex {
    display: grid;
    grid-area: responsive6;
    align-self: center;
  }

  .foto1, .fotosindex .foto2, .fotosindex .foto3 {
    width: 500px;
    height: 300px;
    padding: 20px;
  }

  .foto2 {
    width: 500px;
    height: 300px;
    padding: 20px;
  }

  .foto3 {
    width: 500px;
    height: 300px;
    padding: 20px;
  }

  .header-responsive {
    grid-area: responsive1;
  }

  .responsive-footer {
    grid-area: responsive10;
  }
}
/*MENOS DE 520PX INDEX*/
@media screen and (min-width: 300px) and (max-width: 520px) {
  .barramenu {
    display: none;
  }

  .responsive-index-bodyt {
    display: grid;
    grid-template-areas: "responsive1" "responsive2" "responsive4" "responsive5" "responsive6" "responsive7" "responsive8" "responsive9" "responsive10";
  }

  .titulo1 {
    font-size: 30px;
    margin-left: 15px;
  }

  .fotoprincipal {
    grid-area: responsive2;
  }

  .fotoprincipal1 {
    width: 450px;
    height: 200px;
  }

  .significado {
    grid-area: responsive4;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .descripcion {
    grid-area: responsive5;
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .fotosindex {
    display: grid;
    grid-area: responsive6;
    align-self: center;
  }

  .foto1, .fotosindex .foto2, .fotosindex .foto3 {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
  }

  .foto2 {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
  }

  .foto3 {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
  }

  .header-responsive {
    grid-area: responsive1;
  }

  .responsive-footer {
    grid-area: responsive10;
  }
}
@media screen and (min-width: 880px) and (max-width: 1200px) {
  .foto1, .fotosindex .foto2, .fotosindex .foto3 {
    width: 250px;
    height: 300px;
    padding: 10px;
  }

  .foto2 {
    width: 250px;
    height: 300px;
    padding: 10px;
  }

  .foto3 {
    width: 250px;
    height: 300px;
    padding: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .foto3 {
    width: 350px;
    height: 450px;
    padding: 10px;
  }

  .foto1, .fotosindex .foto2, .fotosindex .foto3 {
    width: 350px;
    height: 450px;
    padding: 10px;
  }

  .foto2 {
    width: 350px;
    height: 450px;
    padding: 10px;
  }
}
/*RESPONSIVE TALLES*/
@media screen and (min-width: 900px) {
  .talles-dama-imagen {
    max-width: 900px;
  }

  .talles-caballero-imagen {
    max-width: 900px;
  }
}
/*RESPONSIVE NOSOTROS*/
@media screen and (max-width: 1200px) {
  .abcd {
    display: flex;
    flex-direction: column;
  }
  .abcd .img-thumbnail-dama-verano {
    min-width: 96%;
    min-height: 96%;
  }

  .efgh {
    display: flex;
    flex-direction: column;
  }
}
/*RESPONSIVE PRODUCTOS*/
@media screen and (min-width: 1000px) {
  .pantu-invierno {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .pantu-verano {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 300px) and (max-width: 999px) {
  .pantu-invierno {
    display: flex;
    flex-direction: column;
  }

  .pantu-verano {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=estilos.css.map */
