@import "colores";
@import "tipografia";
@import "size";

* { margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

/*SASS EN INDEX*/

/*HEADER*/


.titulo {background-color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0px;
}
.titulo1 { 
    color:  white;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 60px;
    padding: 60px;
}

.logo {
    justify-content: right;
    padding: 5px;
    border:  20px;
    width: 120px;
}



/*BARRA DE NAVEGACION*/ 

    .navbar {
        background-color: $color-header ;
        
        .nav-item {
            font-size: 33px;
        }
    
}


/*CUERPO DEL INDEX*/

.main-index {
    .fotoprincipal {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}



.significado {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.fotosindex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;

    .foto1{
        width: $width-fotos-index;
        height: $height-fotos-index;
    }

    .foto2 {
    @extend .foto1;
    }
    
    .foto3 {
    @extend .foto1; 
    }
}
    

/*FOOTEER*/ 

/*MAP Y MAP GET*/ 

$iconos-redes: (
    'paddingtop': 15px,
    'paddingright': 25px,
    'paddingleft': 25px
);

footer {
    background-image: linear-gradient(($color-header),rgb(122, 119, 119));
    background-color: $color-header;
    .redesfooter {
        display: flex;
        justify-content: center;
        align-content: center;
        size-adjust: 570px;
    }

    .textofooter {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 25px;
    }

    .wpp-footer{
        width: $redes-size;
        height: $redes-size;
        padding-right: map-get($map: $iconos-redes, $key: 'paddingright');
        padding-top: map-get($map: $iconos-redes, $key: 'paddingtop' );
    }

    .face-footer{
        height: $redes-size;
        padding-left: map-get($map: $iconos-redes , $key: 'paddingleft' );
        padding-right: map-get($map: $iconos-redes, $key: 'paddingright');
        padding-top: map-get($map: $iconos-redes, $key: 'paddingtop' );
    }

    .insta-footer{
        width: $redes-size;
        height: $redes-size;
        padding-left: map-get($map: $iconos-redes , $key: 'paddingleft' );
        padding-top: map-get($map: $iconos-redes, $key: 'paddingtop' );
    }
}

/*CUERPO NOSOTROS*/

.nosotros-conteiner{
    display: grid;
    grid-template-columns: 600px 600px;
    column-gap: 150px;
    row-gap: 20px;
    justify-content: center;
}

.quienessomos{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    padding: 25px;
    font-weight: bold;
    font-size: 40px;
}

.fotoquienessomos{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 500px;
    height: 500px;
    padding: 25px;
}

.porque-elegirnos{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 25px;
    font-weight: bold;
    font-size: 40px;
}

.foto-porque-elegirnos{
    grid-column: 2/ 3;
    grid-row: 2 / 3;
    width: 500px;
    height: 500px;
    padding: 25px;
}

.textoquienessomos{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 25px;
}

.texto-porque-elegirnos{
    grid-column: 2/ 3;
    grid-row: 3 / 4;
    padding: 25px;
}
.titulo-calidad{
    grid-column: 1/ 2;
    grid-row: 4 / 5;
    padding: 25px;
    font-weight: bold;
    font-size: 40px;
}

.foto-calidad{
    grid-column: 1/ 2;
    grid-row: 5 / 6;
    width: 500px;
    height: 500px;
    padding: 25px;
}

.texto-calidad{
    grid-column: 1/ 2;
    grid-row: 6 / 7;
    padding: 25px;
}

.titulo-flexibilidad{
    grid-column: 2/ 3;
    grid-row: 4 / 5;
    padding: 25px;
    font-weight: bold;
    font-size: 40px;
}

.foto-flexibilidad{
    grid-column: 2/ 3;
    grid-row: 5 / 6;
    width: 500px;
    height: 500px;
    padding: 25px;
}

.texto-flexibilidad{
    grid-column: 2/ 3;
    grid-row: 6 / 7;
    padding: 25px;
}



/*CUERPO PRODUCTOS*/

.carousel-slide {
    width: 60%;
}

.pantuflas-invierno{
    grid-area: titulo;
    padding: 25px;
    justify-self: center;
    font-size: 40px;
}

.invierno-dama-titulo{
    grid-area: subi;
    padding: 25px;
}

#carouselExampleIndicators {
    display: grid;
    grid-area: carrusel ;
 }

.invierno-dama-foto{
    grid-area: no;
    width: 400px;
    height: 400px;
    padding: 25px;
}

.invierno-caballero-titulo{
    grid-area: hola;
    padding: 25px;
}

.invierno-caballero-foto{
    grid-area: boca;
    width: 400px;
    height: 400px;
    padding: 25px;
}

.pantufla-verano{
    grid-area: mama;
    padding: 25px;
    justify-self: center;
    font-size: 40px;
}

#carouselExampleControls {
    display: grid;
    grid-area: carruselll;
}

.verano-dama-titulo{
    grid-area: cine;
    padding: 25px;
}

.verano-dama-foto{
    grid-area: final;
    width: 400px;
    height: 400px;
    padding: 25px;
}

.verano-caballero-titulo{
    grid-area: delfi;
    padding: 25px;
}

.verano-caballero-foto{
    grid-area: terminar;
    width: 400px;
    height: 400px;
    padding: 25px;
}

/*CUERPO TALLES*/

/*MIXINS*/ 

@mixin fontmixin ($mixinsize, $mixinpadding) {
    font-size: $mixinsize;
    padding: $mixinpadding;
}
.talles-titulo{
    @include fontmixin(30px,15px);
    padding-bottom: 0px;
}

.talles-texto{
  border: solid 5px black;
    line-height: 55px;
    padding: 15px
}


.talles-dama-titulo{
    @include fontmixin(30px,20px);
}

.talles-dama-imagen{
    padding: 30px;
}

.talles-caballero-titulo{
   @include fontmixin(30px,20px);
}

.talles-caballero-imagen{
    padding: 30px;
}

/*CUERPO CONTACTO*/

.contactanos-titulo{
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 20px;
    animation-delay: 0,5s;
}

.ubicacion {
    width: max-content;
    height: max-content;
}

.dire{
    font-size: 30px;
}

.ciu{
    font-size: 30px;
}

.country{
    font-size: 30px;
}

.hora{
    font-size: 30px;
}

.wpi{
    color: black;
    font-size: 30px;
}

.wpp-contacto{
    width: 40px;
    height: 40px;
    font-style: none;
    font-size: 30px;
}

.consulta-titulo{
    font-size: 60px;
    padding: 20px;
    font-weight: bold;
}
.formulario-contacto {
    border: solid 2px black;
}

 /*BOOTSTRAP*/


 .formulario-contacto {
     margin-bottom:  20px;
 }

 .form-label {
     font-weight: bold;
     font-size: 20px;
 }
/*RESPONSIVE*/

/*BARRA DE NAVEGACION*/ 

@media screen and (max-width:990px) {
    .nav-link {
        font-size: 20px;
    }
    
}

/*INDEX*/

/*MENOS DE 880*/ 

@media screen and (min-width:700px) and (max-width: 880px) {
    .responsive-index-body {
        display: grid;
        grid-template-areas: 
        "responsive1"
        "responsive2"
        "responsive4"
        "responsive5"
        "responsive6"
        "responsive7"
        "responsive8"
        "responsive9"
        "responsive10";
    }

    .fotoprincipal {
        grid-area: responsive2;
    }

    .fotoprincipal1 {
        width: 700px;
        height: 500px;
        padding: 20px;
    }

    .significado {
        grid-area: responsive4;
    }

    .descripcion {
        grid-area: responsive5;
    }

    .fotosindex {
        display: grid;
        grid-area: responsive6;
        align-self: center;
    }
    .foto1 {
        width: 700px;
        height: 500px;
        padding: 20px;
}

    .foto2 {
        width: 700px;
        height: 500px;
        padding: 20px;
}
    .foto3 {
        width: 700px;
        height: 500px;
        padding: 20px;
    }
.header-responsive {
grid-area: responsive1;
}
.responsive-footer {
    grid-area: responsive10;
} 
}
/*RESPONSIVE MENOS DE 700PX*/


@media screen and (min-width:520px) and (max-width: 700px) {
    .barramenu {
        display: none;
    }

    .responsive-index-bodyt{
        display: grid;
        grid-template-areas: 
        "responsive1"
        "responsive2"
        "responsive4"
        "responsive5"
        "responsive6"
        "responsive7"
        "responsive8"
        "responsive9"
        "responsive10";
    }

    .titulo1 {
        font-size: 40px;
    }

    .fotoprincipal {
        grid-area: responsive2;
    }

    .fotoprincipal1 {
        width: 500px;
        height: 300px;
        padding: 20px;
    }

    .significado {
        grid-area: responsive4;
        padding: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .descripcion {
        grid-area: responsive5;
        padding: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .fotosindex {
        display: grid;
        grid-area: responsive6;
        align-self: center;
    }
    .foto1 {
        width: 500px;
        height: 300px;
        padding: 20px;
}

.foto2 {
    width: 500px;
    height: 300px;
    padding: 20px;
}
.foto3 {
    width: 500px;
    height: 300px;
    padding: 20px
}

.header-responsive {
grid-area: responsive1;
}
.responsive-footer {
    grid-area: responsive10;
} 
}


/*MENOS DE 520PX INDEX*/

@media screen and (min-width:300px) and (max-width: 520px) {
    .barramenu {
        display: none;
    }

    .responsive-index-bodyt{
        display: grid;
        grid-template-areas: 
        "responsive1"
        "responsive2"
        "responsive4"
        "responsive5"
        "responsive6"
        "responsive7"
        "responsive8"
        "responsive9"
        "responsive10";
    }

    .titulo1 {
        font-size: 20px;
        margin-left: 15px;
    }
    .fotoprincipal {
        grid-area: responsive2;
    }

    .fotoprincipal1 {
        width: 450px;
        height: 200px;
    }

    .significado {
        grid-area: responsive4;
        padding: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .descripcion {
        grid-area: responsive5;
        padding: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .fotosindex {
        display: grid;
        grid-area: responsive6;
        align-self: center;
    }
    .foto1 {
        width: 400px;
        height: 200px;
        padding: 20px;
        margin-left: 20px;
}

.foto2 {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
}
.foto3 {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
}

.header-responsive {
grid-area: responsive1;
}
.responsive-footer {
    grid-area: responsive10;
} 
}

@media screen and (min-width: 880px) and (max-width: 1200px) {
    .foto1 {
        width: 250px;
        height: 300px;
        padding: 10px;
    }

    .foto2 {
        width: 250px;
        height: 300px;
        padding: 10px;
    }

    .foto3 {
        width: 250px;
        height: 300px;
        padding: 10px;
    }
}

@media screen and (min-width:1200px) {
    .foto3 {
        width: 350px;
        height: 450px;
        padding: 10px;
    }
    
    .foto1 {
        width: 350px;
        height: 450px;
        padding: 10px;
    }

    .foto2 {
        width: 350px;
        height: 450px;
        padding: 10px;
    }
}

/*RESPONSIVE TALLES*/

@media screen and (min-width: 900px)  {
    .talles-dama-imagen {
        max-width: 900px;
    }

    .talles-caballero-imagen {
        max-width: 900px;
    }
}



/*RESPONSIVE NOSOTROS*/

/*RESPONSIVE DE 300 A 600*/

@media screen and (min-width:300px) and (max-width:700px) {
    
    .body-responsive-nosotros {
        display: grid;
        grid-template-areas: 
        "nosotros1"
        "nosotros2"
        "nosotros3"
        "nosotros4"
        "nosotros5"
        "nosotros6"
        "nosotros7"
        "nosotros8";
    }

    .nosotros-conteiner {
        grid-area: nosotros2 ;
        display: flex;
        flex-direction: column;
    }

    .header-responsive-nosotros {
        grid-area: nosotros1;

    }

    .ca {
        grid-area: nosotros4;
    }

    .fl {
        grid-area: nosotros5;
    }

    .footer-nosotros {
        grid-area: nosotros6;
    }

    .fotoquienessomos {
        width: 250px;
        height: 250px;
    }

    .foto-calidad {
        width: 250px;
        height: 250px;
    }

    .foto-flexibilidad {
        width: 250px;
        height: 250px;
    }

    .foto-porque-elegirnos {
        width: 250px;
        height: 250px;
    }
}

/*RESPONSIVE 700 A 850*/


@media screen and (min-width:700px) and (max-width:850px) {
    
    .body-responsive-nosotros {
        display: grid;
        grid-template-areas: 
        "nosotros1"
        "nosotros2"
        "nosotros3"
        "nosotros4"
        "nosotros5"
        "nosotros6"
        "nosotros7"
        "nosotros8";
    }

    .nosotros-conteiner {
        grid-area: nosotros2 ;
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }

    .header-responsive-nosotros {
        grid-area: nosotros1;

    }

    .ca {
        grid-area: nosotros4;
    }

    .fl {
        grid-area: nosotros5;
    }

    .footer-nosotros {
        grid-area: nosotros6;
    }

    .fotoquienessomos {
        width: 550px;
        height: 450px;
    }

    .foto-calidad {
        width: 550px;
        height: 450px;
    }

    .foto-flexibilidad {
        width: 550px;
        height: 450px;
    }

    .foto-porque-elegirnos {
        width: 550px;
        height: 450px;
    }
}



/*responsive 850 a 1100*/

@media screen and (min-width:850px) and (max-width:1100px) {
    
    .body-responsive-nosotros {
        display: grid;
        grid-template-areas: 
        "nosotros1"
        "nosotros2"
        "nosotros3"
        "nosotros4"
        "nosotros5"
        "nosotros6"
        "nosotros7"
        "nosotros8";
    }

    .nosotros-conteiner {
        grid-area: nosotros2 ;
        display: flex;
        flex-direction: column;
        font-size: 35px;
    }

    .header-responsive-nosotros {
        grid-area: nosotros1;

    }

    .ca {
        grid-area: nosotros4;
    }

    .fl {
        grid-area: nosotros5;
    }

    .footer-nosotros {
        grid-area: nosotros6;
    }

    .fotoquienessomos {
        width: 500px;
        height: 450px;
    }

    .foto-calidad {
        width: 500px;
        height: 450px;
    }

    .foto-flexibilidad {
        width: 500px;
        height: 450px;
    }

    .foto-porque-elegirnos {
        width: 500px;
        height: 450px;
    }
}


@media screen and (min-width:1100px) {

    .qs-pe {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
    }

    .ca-fl {
        padding-left: 15px;
        display: flex;
        flex-direction: row;

    .fl {
        padding-left: 230px;
    }
    
    .fotoquienessomos {
        width: 500px;
        height: 450px;
    }

    .foto-calidad {
        width: 500px;
        height: 450px;
    }

    .foto-flexibilidad {
        width: 500px;
        height: 450px;

    }

    .foto-porque-elegirnos {
        width: 500px;
        height: 450px;
    }

}
}

/*RESPONSIVE PRODUCTOS*/

@media screen and (min-width:1000px) {
    .pantu-invierno {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    
    .pantu-verano {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    }
    

@media screen and (min-width:300px) and (max-width:999px) {
    .pantu-invierno {
        display: flex;
        flex-direction: column;
    }

        .pantu-verano {
            display: flex;
            flex-direction: column;
        }
    }